* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}


.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.nav-part2 h4 {
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.vw;
}

.nav-part2 h5 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
}

#page1{
    height: 100vh;
    width: 100%;
    background:  #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height:8.5vw;

} 
#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;

    background-color: #0BA34E;
}
#page1 p{
    text-align: center;
    font-weight: 100;
    margin-top: 3vh;
}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4{
    font-weight: 300;
    font-size: 1vh;
    text-transform: lowercase;
    padding: 5px 10px;
    margin: 1.5px;
    border: 1px solid white;
    border-radius: 50px;
}
#page1-something h4:nth-last-child(2) {
    border: none;
    padding: 2px;
}
#moving-div {
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 54%;

}

#moving-div .move {
    display: inline-block;
    min-width: 150%;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #111, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2{
    height: 100vh;
    width: 100%;
    background:  #111;
    position: relative;
    padding: 2vw 10.5vw;
    padding-bottom: 8vw;
    border-top: 0.5px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2-left{
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}
#page2-left p{
    font-size: 1vw;
    font-weight: 300;
}
#page2-left h5{
    font-size: 1vw;
    width: 75%;
    font-weight: 300;
}
#page2-right{
    height: 100%;
    width: 50%;
    /* background-color: #333; */
}
.right-elem{
    position: relative;
    /* background-color: #0BA34E; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-weight: 300;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    scale: 0;

}
#page3 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3-centre{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:1vw ;
}
.page3-centre h5{
    font-size: 0.8vw ;
    font-weight: 400;
    padding: 2vw 5vw;
    margin: 10px 20px;
    background-color: #fff;
    color: #000;
    margin-top: 1.5vw;
    border-radius: 50px;
    text-transform:uppercase ;
    opacity: 0;
    transform: translateY(10%);
    transition: all ease 0.5s;
}
.page3-centre:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
.page3-centre .icon{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
}
.page3-centre .icon i{
    font-size: 3vw;
    color: #000;
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 9999;
}